LOG_LEVEL=INFO
{%- if include_database %}
{%- if database_type == "postgres" %}
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/{{ project_name }}
{%- else %}
DATABASE_URL=file:./{{ project_name }}.db
{%- endif %}
{%- endif %}
