import { z } from "zod";

const envSchema = z.object({
  LOG_LEVEL: z.string().default("INFO").transform((v) => v.toLowerCase()),
{%- if include_database %}
  DATABASE_URL: z.string(),
{%- endif %}
});

export const config = envSchema.parse(process.env);
